<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>

    <div id="main">
        <div id="page">
            <div id="nav">
                <div id="logo"></div>
                <div id="links">
                    <a href="">HOME</a>
                    <a href="">ABOUT US</a>
                    <a href="">DETAILS</a>
                    <a href="">OUR BLOG</a>
                    <a href="">CONTACT</a>
                </div>
            </div>
            <div id="sideimg">
                <div id="left">
                    <div id="img">
                        <img src="" alt="">
                    </div>
                    <h1>ğŠğ„ğ‘ğ€ğ’ ğ‚ğ‘ğ„ğ–</h1>
                </div>
                <div id="right">
                    <h1>Prediction: Dermatilis</h1>
                    <h5>Information</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, sed?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ea doloremque vero nulla inventore provident nisi omnis, ad sequi, illo dicta atque eligendi autem, perferendis odio consectetur voluptate quos odit?</p>
                
                    <h5>Cause</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ipsa! Obcaecati illum tenetur quas autem quis nulla nemo eaque consequuntur!Lorem ipsum dolor Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, pariatur? sit amet consectetur, adipisicing elit. Nostrum ea doloremque vero nulla inventore provident nisi omnis, ad sequi, illo dicta atque eligendi autem, perferendis odio consectetur voluptate quos odit?</p>
                
                    <h5>Possiable Treatment</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae ea, rerum earum accusantium nihil quaerat dolorum? Soluta magni tempore, facere deserunt at, officiis est ex voluptas ratione maxime nihil quo!Lorem ipsum dolor Lorem ipsum dolor sit amet. sit amet consectetur, adipisicing elit. Nostrum ea doloremque vero nulla inventore provident nisi omnis, ad sequi, illo dicta atque eligendi autem, perferendis odio consectetur voluptate quos odit?</p>
                
                </div>
    
            </div>
        </div>

    </div>
</body>

</html>